#aboutUs{
    display: flex;
    flex-direction: column;
     /* font-family: "Martian Mono", monospace; */
    /* font-family: "Rambla", sans-serif; */
    font-family: "Barlow", sans-serif;

}
#testpic{
    /* width:600px; */
    width: 35vw;
    min-height: 20vh
}
#aboutBox{
    padding: 50px 20vw 20px 10vw;
}
#aboutBox>p{
    font-size: 20px;
    line-height: 25px;
}
#aboutTitleBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 8px;
    padding: 50px 15vw 0px 10vw;
}
#aboutContactHead{
    margin-bottom: 25px;
}
.aboutInfo{
    color: rgb(255, 31, 240);
    font-size: 16px;
}
#whoWeAre{
    letter-spacing: 3px;
    margin: 75px 0 100px 0;
}
#aboutHeading{
    margin: 20px 0 20px 20px;
    color: gray;
}
#aboutGallery{
    width: 35vw;    
}
#aboutGalleryBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
#founderPic{
    height: 400px;
}