.cart {
  background-color: rgb(250, 250, 250);
  padding: 20px 150px 20px 150px;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  font-family: "Barlow", sans-serif;
}
.total {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 1px;
}
.cart-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mt-cart-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mt-cart {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 5vh;
  font-size: 25px;
  height: 75vh;
  background-size:  contain;
  background-repeat: no-repeat;
}
.mt-frame{
    z-index:   0;
    height: 40vh;
}
.mt-cart-link {
    z-index: 10;
}
.mt-cart-title {
    z-index: 10;
}
