#headerBox{
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 120px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
}
#headerButtonBox{
    display: flex;
    gap: 10px;
}
#titleLink{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#headerTitleText{
    font-size: 20px;
}
#headerTitleText2{
    font-size: 20px;
    margin-left: 50px;   
    margin-top: -8px; 
}