#productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(195, 230, 253);
  padding: 20px;
  border-radius: 10px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  position: relative;
  border: 1px dotted gray;
  box-shadow: 1px 1px rgb(167, 223, 235);
}
#productDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in;
}
#productDisplay.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  z-index: -10;
}
.productInfoCard {
  z-index: -10;
  opacity: 0;
  position: absolute;
  padding: 20px;
  transition: opacity 0.5s ease-in;
  height: 100%;
  cursor: pointer;
  font-size: 12px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Martian Mono", monospace;
  border-radius: 10px;
  border: 1px dotted rgb(92, 92, 92);

}
.productInfoCard.show {
  z-index: 10;
  opacity: 100;
  transition: opacity 0.5s ease-in;
}
#infoCardTitle{
  margin-bottom: 10%;
  font-size: 16px;
  display: block;
}
#infoCardLogo{
  display: block;
  height: 40px;
  margin-bottom: 20%;
}
#addButton {
  color: blue;
  font-weight: 500;
  font-family: "Martian Mono", monospace;
}
#minusButton {
  color: blue;
  font-family: "Martian Mono", monospace;
  font-weight: 1000;
}
#productCardPic {
  width: 250px;
}
#productCardPic:hover {
  cursor: pointer;
}
#quantityInput {
  width: 40px;
  height: 40px;
  text-align: center;
}
#quantityInput::-webkit-outer-spin-button,
#quantityInput::-webkit-inner-spin-button,
#quantityInput[type="number"] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
#addToCartButton.shake {
  animation: shake 0.4s ease;
  background-color: green;
}

#quantityBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1230px) {
  #productCard {
    width: 290px
  } 
}
