#productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(195, 230, 253);
  padding: 20px;
  border-radius: 10px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
}
#addButton{
    color: blue;
    font-weight: 500;
    font-family: "Martian Mono", monospace;
}
#minusButton{
    color: blue;
    font-family: "Martian Mono", monospace;
    font-weight: 1000;
}
#productCardPic {
  width: 250px;
}
#quantityInput {
  width: 40px;
  height: 40px;
  text-align: center;
}
#quantityInput::-webkit-outer-spin-button,
#quantityInput::-webkit-inner-spin-button,
#quantityInput[type="number"] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
#addToCartButton.shake {
  animation: shake 0.5s ease;
  background-color: green;
}

#quantityBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
@keyframes shake {
    0% {
      transform: translateY(0);  
    }
    25% {
      transform: translateY(-5px);  
    }
    50% {
      transform: translateY(5px);
    }
    75% {
      transform: translateY(-5px);  
    }
    100% {
      transform: translateY(0);  
    }
  }